name: On-PullRequest

on: 
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: macos-11
    steps:
    - uses: actions/checkout@v2
    - name: Show schemes
      run: xcodebuild -project App.xcodeproj -list
      working-directory: ./App
    - name: Xcode Build and Save resultBundle
      run: make test
      working-directory: ./App
    - uses: actions/upload-artifact@v2
      with:
        name: resultBundle
        path: App/ResultBundle.xcresult

