name: On-PullRequest

on: 
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: macos-11
    steps:
    - uses: actions/checkout@v2
    - name: Xcode Build and Save resultBundle
      run: |
        xcodebuild build
          -project "App.xcodeproj"
          -scheme "App"
          -configuration "Debug"
          -destination platform="iOS Simulator,name=iPhone 12 Pro,OS=15.0" 
          -resultBundlePath ResultBundle
      working-directory: ./App
    - uses: actions/upload-artifact@v2
      with:
        name: resultBundle
        path: App/ResultBundle/

